.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 570px;
  margin: 0 auto;
  width: 93%;
  z-index: 3;
}
.wrapper {
  border-radius: 20px;
  background: #1e2a44;
  padding: 24px 0;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 35px;
  padding-bottom: 18px;
}
.heading {
  color: #fff;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
}
.close {
  cursor: pointer;
  font-size: 28px;
  color: rgba(118, 122, 137, 1);
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 4px;
}
.inputContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 50px;
  background: #09152f;
  padding: 0px 20px;
}
.input {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px 8px;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
}
.searchIcon {
  font-size: 24px;
  color: rgba(118, 122, 137, 1);
  cursor: pointer;
}

.currencyWrapper {
  max-height: 350px;
  height: auto;
  overflow-y: auto;
}
.currencyContainer {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 18px 35px;
  transition: 0.3s;
  cursor: pointer;
}
.currencyContainer:hover {
  background: #303d59;
}
.iconAndDetails {
  display: flex;
  align-items: center;
  gap: 8px;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.name,
.amount {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.name {
  text-transform: uppercase;
}

.fullName,
.usdAmount {
  color: #767a89;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.amount,
.usdAmount {
  text-align: right;
}
.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .header {
    padding: 0px 20px;
    padding-bottom: 18px;
  }
  .heading {
    font-size: 30px;
  }
  .searchIcon {
    font-size: 20px;
  }
  .input {
    font-size: 18px;
  }
  .currencyContainer {
    padding: 18px 20px;
  }
  .icon {
    width: 44px;
    height: 44px;
  }
  .name,
  .fullName,
  .amount,
  .usdAmount {
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .header {
    padding: 0px 20px;
    padding-bottom: 18px;
  }
  .heading {
    font-size: 24px;
  }
  .currencyContainer {
    padding: 18px 20px;
  }
  .icon {
    width: 40px;
    height: 40px;
  }
  .input {
    font-size: 16px;
  }
  .name,
  .fullName,
  .amount,
  .usdAmount {
    font-size: 14px;
  }
}
@media only screen and (max-width: 520px) {
  /* .networkContainer {
    flex-direction: column;
    align-items: flex-start;
  } */

  .header {
    padding: 0px 13px;
    padding-bottom: 18px;
  }
  .close {
    font-size: 24px;
  }
  .currencyContainer {
    padding: 12px 13px;
    gap: 5px;
  }
  .currencyWrapper {
    max-height: 250px;
  }
  .iconAndDetails {
    gap: 8px;
  }
  .icon {
    width: 36px;
    height: 36px;
  }
  .name,
  .fullName,
  .amount,
  .usdAmount {
    font-size: 12px;
  }
}
/* scrollbar css */
/* ===== Scrollbar CSS ===== */
/* Firefox */
.currencyWrapper {
  scrollbar-width: thin;
  scrollbar-color: #6c62e2 rgba(250, 250, 250, 0.2);
}

/* Chrome, Edge, and Safari */
.currencyWrapper::-webkit-scrollbar {
  width: 5px;
}

.currencyWrapper::-webkit-scrollbar-track {
  background: rgba(250, 250, 250, 0.2);
}

.currencyWrapper::-webkit-scrollbar-thumb {
  background: #6c62e2;
  border-radius: 100vh;
  border: none;
}
