.wrapper {
  border-radius: 20px;
  background: #010e29;
  padding: 15px 12px;
  padding-right: 2px;
}

.header,
.valueWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.header {
  padding-bottom: 15px;
}
.heading,
.text {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.heading {
  color: #767a88;
  font-size: 16px;
}
.textRight {
  text-align: right;
}
.data {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 8px;
}
.sellData {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.buyData {
  padding-top: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.buyData {
  border-top: 1px solid #353b50;
}

.green {
  color: #5bdf8b;
}
.red {
  color: #f34554;
}
@media only screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1000px;
    width: 100%;
  }
}
@media only screen and (max-width: 520px) {
  .heading,
  .text {
    font-size: 14px;
  }
}
@media only screen and (max-width: 375px) {
  .heading,
  .text {
    font-size: 12px;
  }
}
/* scrollbar css */
/* ===== Scrollbar CSS ===== */
/* Firefox */
.data {
  scrollbar-width: thin;
  scrollbar-color: #6c62e2 rgba(250, 250, 250, 0.2);
}

/* Chrome, Edge, and Safari */
.data::-webkit-scrollbar {
  width: 5px;
}

.data::-webkit-scrollbar-track {
  background: rgba(250, 250, 250, 0.2);
}

.data::-webkit-scrollbar-thumb {
  background: #6c62e2;
  border-radius: 100vh;
  border: none;
}
