.btn {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-flex;
  align-items: center;
  gap: 16px;
  transition: 0.4s ease;
}
.btn:hover {
  transform: translateY(-3px);
}
.btn .text {
  font-size: 16px;
}
.btn.rounded {
  border-radius: 100px;
}
.btn.primary {
  background-color: var(--primary);
}
.btn.outlined {
  border-color: #fff;
}
.image {
  display: block;
}
@media only screen and (max-width: 520px) {
  .button {
    height: 36px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
