.mainWrapper {
  min-height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 482px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 24px;
}

.heading {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.check {
  width: 139px;
}
.tagline {
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 45px */
}
.infoBox {
  display: flex;
  flex-direction: column;
  gap: 22px;
  border-radius: 20px;
  background: #1e2a44;
  padding: 25px;
  width: 100%;
}
.spaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.copyContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
.copyIcon {
  width: 20px;
  cursor: pointer;
}
.text {
  color: #767a89;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}
.copied::after {
  content: "Copied";
  font-size: 12px;
  font-family: Inter;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #d3d4d9;
  padding: 3px 5px;
  border-radius: 4px;
  color: #000;
}
.done {
  color: #6c62e2;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
  cursor: pointer;
  margin-top: 10px;
}

@media only screen and (max-width: 991px) {
  .infoBox {
    padding: 15px;
  }
  .heading {
    font-size: 30px;
  }
  .tagline {
    font-size: 24px;
  }
  .text {
    font-size: 18px;
  }
  .done {
    font-size: 18px;
  }
}
@media only screen and (max-width: 520px) {
  .infoBox {
    padding: 15px;
  }
  .heading {
    font-size: 24px;
  }
  .tagline {
    font-size: 20px;
  }
  .text {
    font-size: 13px;
  }
  .copyIcon {
    width: 18px;
  }
  .done {
    font-size: 16px;
  }
}
