.mainWrapper {
  width: 100%;
  padding-top: 65px;
}

.wrapper {
  display: flex;
  gap: 8px;
  width: 100%;
}
.overFlow {
  overflow: auto;
}
.title {
  font-size: calc(1.275rem + 0.3vw);
  font-weight: 700;
  margin-bottom: 16px;
}

.coinImg {
  width: 34px;
  height: 34px;
}
.row {
  display: flex;
  gap: 8px;
}
.coin {
  font-weight: 700;
}
.copyContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
.text {
  color: var(--text);
  white-space: nowrap;
}
.copyIcon {
  width: 14px;
  cursor: pointer;
}
.primaryColor {
  color: #6c62e2;
}
.viewAll {
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 25px;
}
