.mainWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  align-items: flex-start;
}

.wrapper {
  border-radius: 20px;
  background: #010e29;
  padding: 15px;
}
.buySell {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.tabs,
.buttonContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 15px 0;
}
.buttonContainer {
  border-bottom: 1px solid #353b50;
  padding-bottom: 25px;
  gap: 15px;
}
.button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
  border-radius: 20px;
  background: #1e2a44;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 20px;
  transition: 0.3s;
}
.activeButton {
  background: #6c62e2;
}
.tab {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 33px */
  cursor: pointer;
  transition: 0.3s;
}

.activeTab {
  color: #6c62e2;
}
.tab:hover,
.button:hover {
  transform: translateY(-3px);
}
@media only screen and (max-width: 1280px) {
  .mainWrapper {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 991px) {
  .mainWrapper {
    width: 100%;
    margin: 0 auto;
  }
  .buySell {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 520px) {
  .button {
    font-size: 14px;
  }
}
