.navbar {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  border-bottom: 1px solid var(--caret-dark);
}

.navbar .left {
  display: flex;
  align-items: center;
  gap: 70px;
}
.navbar .left .logo {
  display: flex;
  gap: 12px;
  align-items: center;
}
.navbar .left .logo .logoText {
  font-size: 28px;
  font-weight: bold;
}
.navbar .left .links {
  display: flex;
  align-items: center;
  gap: 24px;
}
.navbar .left .links .cross {
  display: none;
}

.navbar .left .links a {
  display: flex;
  gap: 12px;
}
.navbar .left .smallLinks {
  display: none;
}

.navbar .notifications {
  position: relative;
}
.navbar .notifications img {
  width: 28px;
}
.navbar .notifications .number {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 20px;
  height: 20px;
  background-color: var(--primary);
  border-radius: 50%;
  font-size: 10px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar .right .avatar {
  width: 50px;
}
.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  right: -100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.4s ease;
}
.overlay.active {
  right: 0;
}
.arrow {
  margin-left: 8px;
}
.menu {
  cursor: pointer;
}
.userContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 1536px) {
  .menu {
    display: none;
  }
  .overlay {
    display: none;
  }
}
@media screen and (max-width: 1535px) {
  .navbar .left .links {
    position: fixed;
    width: 320px;
    align-items: flex-start;
    flex-direction: column;
    background-color: #010e29;
    height: 100vh;
    z-index: 100;
    top: 0;
    right: -320px;
    padding: 70px 40px;
    transition: 0.4s ease;
    overflow-y: auto;
  }
  .navbar .left .links.active {
    right: 0;
  }
  .navbar .left .links .cross {
    display: block;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    right: 50px;
    top: 50px;
    cursor: pointer;
  }
  .navbar .left .smallLinks {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar .right {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .navbar {
    padding: 0 20px;
  }
}
@media screen and (max-width: 520px) {
  .navbar {
    padding: 0 20px;
    padding-left: 15px;
  }
  .menu {
    cursor: pointer;
    width: 30px;
  }
  .navbar .left .logo {
    gap: 8px;
  }
  .logo img {
    width: 46px;
  }
  .navbar .left .logo .logoText {
    font-size: 24px;
    font-weight: bold;
  }
}
