.overview {
  border-bottom: 1px solid var(--caret-dark);
  padding-bottom: 36px;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
    flex-wrap: wrap;
    gap: 30px;

    .title {
      font-size: 36px;
      font-weight: bold;
    }

    .btns {
      display: flex;
      align-items: center;
      gap: 10px;

      @media screen and (max-width: 575px) {
        flex-wrap: wrap;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (max-width: 575px) {
      & > * {
        width: 100%;
      }
    }

    .subTitle1 {
      font-size: 22px;
      font-weight: 500;
      color: var(--text);
      display: flex;
      gap: 12px;
      align-items: center;

      img {
        cursor: pointer;
      }
    }

    .subTitle2 {
      font-size: 30px;
      font-weight: bold;
      margin: 4px 0;
    }

    .subTitle3 {
      font-size: 17px;
      font-weight: 500;
      color: var(--text);
    }

    .tabs {
      display: flex;
      align-items: center;
      gap: 24px;

      @media screen and (max-width: 575px) {
        justify-content: space-between;
        margin-bottom: 20px;
      }

      .tab {
        color: var(--text);
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;

        &.active {
          color: #fff;
        }
      }
    }
  }
}
