.mainWrap {
  padding: 50px 66px;
}
@media screen and (max-width: 1535px) {
  .mainWrap {
    padding: 32px;
  }
}
@media screen and (max-width: 575px) {
  .mainWrap {
    padding: 20px;
  }
}
.mainWrap .content {
  display: flex;
  gap: 66px;
}
@media screen and (max-width: 1535px) {
  .mainWrap .content {
    gap: 30px;
  }
}
@media screen and (max-width: 1280px) {
  .mainWrap .content {
    flex-direction: column;
  }
}
.mainWrap .content .main {
  flex-grow: 1;
}
.mainWrap .below {
  max-width: 1598px;
  margin-left: auto;
  margin-top: 80px;
}
.mainWrap .below .mainWrap {
  padding: 50px 66px;
}
@media screen and (max-width: 1535px) {
  .mainWrap .below .mainWrap {
    padding: 32px;
  }
}
.mainWrap .below .mainWrap .content {
  display: flex;
  gap: 66px;
}
@media screen and (max-width: 1535px) {
  .mainWrap .below .mainWrap .content {
    gap: 30px;
  }
}
@media screen and (max-width: 1280px) {
  .mainWrap .below .mainWrap .content {
    flex-direction: column;
  }
}
.mainWrap .below .mainWrap .content .main {
  flex-grow: 1;
}
.mainWrap .below .mainWrap .below {
  max-width: 1598px;
  margin-left: auto;
  margin-top: 80px;
}
