.wrapper {
  width: 100%;

  padding: 0 25px;
  padding-left: 20px;
}

.textSlider {
  margin-left: -10px;
  margin-right: -10px;
  position: relative;
  padding-left: 10px;
}
.textSliderWrapper {
  padding: 0px;
}

.text {
  color: #767a89;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.highlight {
  color: #6c62e2;
}
.nextButton,
.previousButton {
  background: none;
  outline: none;
  border: none;

  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.nextButton {
  right: -20px;
}
.arrow,
.star {
  color: #fff;
  font-size: 22px;
  opacity: 0.5;
}
.star {
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
}
.previousButton {
  left: -20px;
  display: none;
}
@media only screen and (max-width: 520px) {
  .text {
    font-size: 14px;
  }
  .star {
    font-size: 16px;
  }
}
