@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #6c62e2;
  --caret-dark: #353b50;
  --text: #767a89;
  --green: #5bdf8b;
  --red: #f34554;
  --bg: #09152f;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
  background: #09152f;
}
a {
  text-decoration: none;
}

body {
  background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.wrapper {
  background: rgba(255, 255, 255, 0.03);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 15px;
}
.mainContainer {
  padding-left: calc(255px);
}
.mainWrapper {
  max-width: 1520px;
  width: 90%;
  margin: 0 auto;
}
@media only screen and (max-width: 1280px) {
  .mainContainer {
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .mainWrapper {
  }
}
.react-no-select {
  width: 100%;
}
/* .block {
  display: block;
}

.text-right {
  text-align: right;
}

.text-light-1 {
  color: var(--text);
}

.text-primary-1,
.text-primary-1 * {
  color: var(--primary);
}

.text-green {
  color: var(--green);
}

.text-red {
  color: var(--red);
}

.mt-8 {
  margin-top: 8px;
}

.mt-46 {
  margin-top: 46px;
}

.mb-46 {
  margin-bottom: 46px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.c-pointer {
  cursor: pointer;
}

.text-underline {
  text-decoration: underline;
} */

.rdt_Table > div {
  background-color: transparent !important;
}

.rdt_Table,
.rdt_TableRow,
.rdt_Pagination {
  background-color: transparent !important;
}

.rdt_TableRow {
  padding: 10px 0;
}

.rdt_Pagination * {
  color: #fff !important;
}

.rdt_Pagination option {
  color: var(--caret-dark) !important;
}

.rdt_Pagination svg path:first-child {
  stroke: var(--primary);
}

.rdt_TableHeadRow {
  background-color: #1e2a44 !important;
  border-radius: 10px;
}

.rdt_TableHeadRow * {
  color: #767a89;
}

.rdt_TableRow {
  border-bottom-color: #353b50 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-input-placeholder {
  /* Edge */
  opacity: 0.5;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  opacity: 0.5;
}

::placeholder {
  opacity: 0.5;
}
