.sidebar {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 1280px) {
  .sidebar {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .sidebar {
    flex-direction: column;
  }
}
.sidebar .link {
  border-radius: 100px;
  height: 50px;
  padding-left: 36px;
  padding-right: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.sidebar .link.active {
  background-color: rgba(108, 98, 226, 0.2);
}
